.scale-strip {
  display: flex;
  height: 70px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.gradient-strip {
  width: 100%;
  height: 10px;
  margin-bottom: 5px;
}

.scale-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scale-labels span {
  padding: 0 5px;
}
