.scale-strip {
  display: flex;
  height: 70px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Added margin for better spacing, adjust as needed */
}

.gradient-strip {
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, blue, red);
  margin-bottom: 5px;
}

.scale-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
