.download-button {
    flex-direction: row;
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    align-items: center;
    text-align: left;
    padding: 10px;
    background-color: rgb(54, 217, 0);
    display: flex;
    border-radius: 7px;
    gap: 7px;
    text-transform: none;
}