.list-container {
  height: 70%;
  width: 500px;
  display: flex;
  flex-direction: column;
}


.waypoint-list-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: hidden;
}

.waypoint-list-container ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 40px;
  overflow-y: scroll;
  border-bottom: 5px solid #eee;
  margin-top: 1rem;
}

.total-summation {
  height: 100px;
  padding: 10px;
}
