.outer-list-container {
  display: flex;
  flex-direction: column;

}

.inner-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
  max-height: calc(100% - 200px);
  /* border: 1px solid blue; */
  /* background-color: rgb(188, 143, 181); */
}

.inner-list-container ul {
  flex-grow: 1;
  overflow-y: scroll; /* Enables scroll on overflow */
  margin: 0;
  padding: 20px 0;
  list-style: none;
  /* background: rgb(159, 40, 40); */
}

.total-summation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 70px;
  padding: 20px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);

  /* background-color: aqua; */
}

@media (min-width: 768px) {
  /* Adjustments for tablets and desktops */
  .outer-list-container {
    max-width: 450px;
    height: calc(100vh - 220px);

    /* background-color: darkseagreen; */
  }
}
