.layerControl {
  position: absolute;
  top: 115px;
  left: 10px;
  z-index: 400;
  color: black;
}

.toggleButton {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: black;
  width: 33px;
  height: 33px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px;
}

.menuItem {
  padding: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menuItem:hover {
  background-color: #f0f0f0;
}

.selected {
  font-weight: bold;
  background-color: #e0e0e0;
}
