.segmented-control {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.segment {
  text-align: center;
  padding: 0 0 5px 0;
  border-radius: 0;
  border-width: 0 0 2px 0;
  border-color: transparent;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  color: rgb(54, 217, 0);
  border-bottom: solid 4px transparent;
}

.segment:hover {
  color: #007bffab;
}

.segment.selected {
  border-bottom: solid 4px #007bff !important; /* Ensure border color changes */
  color: #007bff !important;
}

.segment:focus {
  background-color: transparent;
}
