.map {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 70px - 70px);
}

.map-container {
  display: flex;
  height: 100%;
}

.marker-popup {
  font-size: 14px;
  text-align: center;
}

.marker-icon {
  background-color: #fff;
  color: #333;
  padding: 2px 6px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}
