.time-info-wrapper {
    display: flex;
    flex-direction: column;
   text-align: right;
    height: 2rem;
}

.arrival-departure {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%
}
