.track-part-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem 2.1rem 1rem 0;
    align-items: center;
  }
  
  .track-part-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  .track-part-icon {
    color: rgb(194, 194, 194);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
  }

  .track-part-stopwatch {
    color: rgb(194, 194, 194);
  }

  .track-part-duration {
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: end;
    padding-left: 10px;
  }