.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.App-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  font-size: calc(10px + 2vmin);
}

.file-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.App-logo {
  background-image: url(./logo.png);
  background-repeat: no-repeat, repeat;
  background-position: left center;
  padding-left: 70px;
  visibility: visible;
}

.App-main-container {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 70px);
  overflow: hidden;
  position: relative;
}

.App-sidebar {
  width: 450px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
}

.App-graph-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  max-height: 100%;
  min-height: 50px;
  overflow-y: auto;
}

.map-view {
  flex-grow: 1;
  position: relative;
  background-color: #eaeaea;
  overflow: hidden;
}
.track-graph-wrapper {
  width: 100%;
  position: relative;
  margin: 0;
  z-index: 2000;
  height: 100px;
  transition: height 0.3s ease;
}

.track-graph-wrapper.collapsed {
  height: 0px;
}

.scale-strip {
  position: relative;
  display: flex;
  height: 50px;
  flex-shrink: 0;
}

.footer {
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(143, 143, 143);
  position: relative;
}

.try-stored-gpx {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  z-index: 10; 
  margin-top: 20px;
}

.try-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.try-button:hover {
  background-color: #0056b3;
}

@media (max-width: 1024px) {
  .App-sidebar {
    width: 450px;
  }

  .App-graph-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .App-main-container {
    flex-direction: column;
    overflow-y: auto;
  }

  .App-sidebar {
    width: 100%;
    order: 1;
    height: auto;
  }

  .App-graph-container {
    min-height: 450px;
  }

  .map-view {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .App-sidebar {
    width: 100%;
  }

  .map-view {
    height: 450px;
  }
}
