.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.App-logo {
  background-image: url(./logo.png);
  background-repeat: no-repeat, repeat;
  background-position: left center;
  padding-left: 70px;
}

.App-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: calc(10px + 2vmin);
}

.file-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.App-link {
  color: #61dafb;
}

.App-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.App-sidebar {
  width: 100%;
  order: 1;
}

.App-graph-container {
  flex-grow: 1;
  height: 100%;
}

.footer {
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
}

/* Media Queries */
@media (min-width: 768px) { /* Adjustments for tablets and desktops */
  .App-main-container {
    flex-direction: row;
  }

  .App-sidebar {
    max-width: 450px;
    order: 0;
  }

  .App-graph-container {
    flex-grow: 1;
    height: calc(100vh - 200px); /* Adjust height based on header and footer */
  }
}
