html,
body,
div,
span,
applet,
object,
iframe,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
.h1 {
  font-size: 200%;
  font-weight: 700;
}
h2,
.h2 {
  font-size: 250%;
  font-weight: 700;
}
h3,
.h3 {
  font-size: 200%;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 100%;
  font-weight: 700;
}

strong,
.strong {
  font-size: 100%;
  font-weight: 500;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  appearance: none;
  background-color: rgb(54, 217, 0);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 7px 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  transition: all 150ms ease-in-out;
}

button:hover {
  box-shadow: 0 0 10px 0 rgb(255, 255, 255) inset, 0 0 10px 4px rgb(255, 255, 255);
}

button:focus {
  color: #fff;
  background-color: rgb(217, 203, 0);
  outline: 0;
}
